/* Resetting the content padding */
#content {
    padding:	0em;
}

/* Blog content */
#content .post {
/*    background: none repeat scroll 0 0 rgba(255, 0, 0, 0.2);*/
    background: none repeat scroll 0 0 rgba(204,204,204,0.5);
/*    border-style:   solid;
    border-color:   #970000;
    border-width:   1px;*/
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -border-bottom-left: 5px;

    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -border-top-right: 5px;

    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -border-topleft: 5px;

    margin-top:	    2em;
    margin-bottom:  1em;

    /* Push in the text */
    padding:	0.1em 0.5em 0.25em 0.5em;
}

#content .post:first-child {
    margin-top:	    1em;
}

#content .post p {
    line-height:    140%;

    /* Make sure it matches the margin & width of .postDate */
    margin-left:    60px;
}

#content .post p + p {
    text-indent:    30px;
}

.postHeader {
/*    background: none repeat scroll 0 0 rgba(255, 0, 0, 0.2);*/
}


/*** date stamp ***/
.postDate {
    display:	block;
    float:	left;
    line-height:    1.5em;
    margin-top:	    6px;
    margin-bottom:  10px;
    margin-left:    0px;
    margin-right:   10px;
    text-align:	center;
    width:	50px;

/*    background: none repeat scroll 0 0 rgba(170, 0, 0, 1.0);	    Light Navbar red */
    background: none repeat scroll 0 0 rgba(115, 0, 33, 1.0);
/*    background: none repeat scroll 0 0 rgba(0, 51, 34, 1.0);	    Dark blue/green */
/*    background: none repeat scroll 0 0 rgba(75,0,21,1.0);	    Super dark red */
/*    background: none repeat scroll 0 0 rgba(139, 37, 0, 1.0);	    Dark orange/red */

/* Deal with the radius here */
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -border-bottom-left: 5px;

    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -border-top-right: 5px;

    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -border-topleft: 5px;

    color:  #FFFFFF;
    font-family: sans-serif;
}

.postDate .day {
    font-size:	2em;
    padding-top:    0.4em;
    padding-bottom: 0.2em;
}

.postDate .month {
    font-variant:   small-caps;
    margin-bottom: -0.2em;
    letter-spacing: 0.1em;
}

.postDate .year {
    margin-top:    -0.2em;
    padding-bottom: 0.2em;
}

.postDate span {
    display:	block;
}


/*** Header ***/
.postHeader h1 {
    font-size:	1.5em;
    font-weight:    normal;
    line-height:    1.524em;
    margin:	0 10px;
}

.postHeader h1 a {
    text-decoration:	none;
    color: #970000;
}

.postHeader h1 a:hover {
    text-decoration:	underline;
}

/*** Footer ***/
.postFooter {
/*    background: none repeat scroll 0 0 rgba(255, 0, 0, 0.2);*/
    font-style:	italic;
    
    /* Make sure it matches the margin & width of .postDate */
    margin-left:    60px;
}

.postFooter a {
    text-decoration:	none;
    color: #970000;
}

.postFooter a:hover {
    text-decoration:	underline;
}
