/* Clearfix - Ignore IE/Mac */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Force footer down */
html,
body,
#wrap {
    height: 100%;
}
body > #wrap {
    height: auto;
    min-height: 100%;
}
#main {
    padding-bottom: 5em; /* must be same as the footer's height + padding/border */
}


/* General styles */
body {
    margin: 0;
    padding: 0;

    /* This removes the border around the 
     * viewport in old versions of IE */
    border: 0;			

    width: 100%;

    /* The min-width property does not work 
     * in old versions of Internet Explorer */
    min-width: 40em;		
    font-size: 90%;

    background: #fff;

    /* Background image */
    background-image: url(../img/fac-greyscale.png);
    background-position: top left;
    background-repeat: repeat;

}
a {
    color: #369;
}
a:hover {
    color: #fff;
    background: #369;
    text-decoration: none;
}
h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}
p {
    margin: .4em 0 .8em 0;
    padding: 0;
}
img {
    margin: 10px 0 5px;
}


/* Header styles */
#header {
    clear: both;
    float: left;
    width: 100%;
}
#header {
    border-bottom: 1px solid #000;
}
#header p,
#header h1,
#header h2 {
    padding: .4em 15px 0 15px;
    margin: 0;
}

#header h1 {
    margin-left: 12%;
    display: inline;

    font-size:	3em;
}

/*#header {
    overflow: hidden;
    works but its ugly, would prefer to get navbar contents working properly
}*/


/* Body Styles */
#content {
    clear: both;
    overflow: hidden;
    position: relative;
    margin-left: 12%;
    margin-right: 12%;

    padding: 0em 1em;

    background: transparent url(../img/css/8x8_30pa.png);
}


/* Footer styles */
#footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;

    /* Forces footer down to bottom of the page */
    position: relative;
    margin-top: -5.2em;	/* negative value of footer height */
    height: 4.937em;	/* not exactly 5em cuz of 1px border */
    clear:both;
}
#footer p {
    padding: 10px;
    margin: 0;
    margin-left: 12%;
}
#footer #altnav {
    float: right;
    text-align: right;
    margin-right: 12%;
}
