/* General styles */
body {
    margin: 0;
    padding: 0;

    /* This removes the border around the 
     * viewport in old versions of IE */
    border: 0;			

    width: 100%;

    /* The min-width property does not work 
     * in old versions of Internet Explorer */
    min-width: 40em;		
    font-size: 90%;

    background: #fff;

    /* Background image */
    background-image: url(../img/fac-greyscale.png);
    background-position: top left;
    background-repeat: repeat;
}

a {
    color: #369;
}
a:hover {
    color: #fff;
    background: #369;
    text-decoration: none;
}

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}
p {
    margin: .4em 0 .8em 0;
    padding: 0;
}
img {
    margin: 10px 0 5px;
}


/* Header styles */
#header {
    clear: both;
    float: left;
    width: 100%;
}
#header {
    border-bottom: 1px solid #000;

    /* Html5 */
    background:	    none repeat scroll 0 0 rgba(0, 0, 0, 0.2);

}

#header p,
#header h1,
#header h2 {
    padding: .4em 15px 0 15px;
    margin: 0;
}

#header h1 {
    margin-left: 12%;
    display: inline;

    font-size:	3em;

    /* Html5 */
    text-shadow:    -1px -1px 0 #650000, 0 0 10px rgba(255, 255, 255, 0.7);
}


/* Body Styles */
#content {
    clear: both;
    overflow: hidden;
    position: relative;
    margin-left: 12%;
    margin-right: 12%;

    padding: 0em 1em;

    /* Html5 */
    background: none repeat scroll 0 0 rgba(0, 255, 0, 0.2);

    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;

    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
}


/* Footer styles */
#footer {
/*    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;*/
    
    clear: both;
    overflow: hidden;
    position: relative;
    margin-top:	1em;
    margin-left: 12%;
    margin-right: 12%;

    padding: 0em 1em;
    
    /* Html5 */
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    /* Shade/etc */
}
#footer p {
    padding: 10px;
    margin: 0;
/*    margin-left: 12%;*/
}
#footer #altnav {
    float: right;
    text-align: right;
/*    margin-right: 12%;*/
}
