/*** Header Navbar Rules ***/
#header ul,
#header ul * {
    margin:	0;
    padding:	0;
}

#header ul {
    list-style:	    none;
    line-height:    1.0;

    padding-top:    1.2em;
    margin-right:   12%;
    float:	    right;
}

#header li {
    display:	inline;
    float:	left;
}

#header a {
    float:		left;
    display:		block;
    text-decoration:	none;
}


/*** Styling ***/
#header a {
    padding:	0.75em 1em;
    color:	#FFF;
    font-family: Verdana, sans-serif;
    font-weight: bold;

    /* Html5 */
    background-image: -moz-linear-gradient(top, #730021, #400012);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #730021),color-stop(1, #400012));

    /* Opera */
    box-shadow:  inset 0 0 15px #900, inset 0 35px 35px -18px #ca0000, 0 0 20px #446b6b;
}

#header ul li:first-child a {
    /* html5 */
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
}

#header ul li:last-child a {
    /* html5 */
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
}

#header a:hover,
.blog #header #blog a,
.gallery #header #gallery a,
.projects #header #projects a,
.resume #header #resume a,
.about #header #about a {
    color:	#FFF;

    /* Html5 */
    background-image: -moz-linear-gradient(bottom, #8C0028, #730021);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #8C0028),color-stop(1, #730021));

    /* Opera */
    box-shadow: inset 0 0 15px #900, inset 0 -35px 35px -18px #ca0000;
}
