// Various global site settings goes here

// Site Background color
$site-background-color:  #fff;

// How much padding/space to grant on the margins to center the content
$side-margin:       12%;

// Footer border radius
$footer-border-radius: 5px;

// Navbar text link color
$nav-link-color:    #fff;

// Navbar Link unselected gradient
$link-first-gradient:   #730021;
$link-last-gradient:    #400012;

// Navbar Link selected/current page gradient
// Flipped because we want bottom to top
$link-hover-first-gradient:     #8c0028;
$link-hover-last-gradient:      #730021;

// Navbar right and left most border
$navbar-border-radius:	15px;

// Link base color
$link-color:            #970000;

// Date box
$post-date-text-color:  #fff;
$post-date-width:       50px;
$post-date-margin:      10px;
$date-border-radius:    5px;

// Content & datetime box border radius
$content-border-radius:	    5px;

// Paragraph first line indenting - 30px
$paragraph-indent:  0px;

// Default paragraph margin
$paragraph-default-margin:  10px;


// Paragraph formatting mixin
@mixin paragraph($left-margin, $text-indent) {
    p {
        line-height:    140%;

        /* Make sure it matches the specified margin */
        margin-left:    $left-margin;

        & + p {
            text-indent:    $text-indent;
        }
    }
}

// Plain link styling mixin
@mixin plain-link {
    a {
        text-decoration:    none;
        color: $link-color;

        &:hover {
            text-decoration:    underline;
        }
    }
}

// IE gradient mixin
@mixin ie-gradient($r, $g, $b, $a) {
    background: none;
    -ms-filter: alpha-ie($r, $g, $b, $a);
    filter: alpha-ie($r, $g, $b, $a);
    zoom: 1;
}
