// IE specific code goes here
@import "compass/gradient";
@import "settings";

// Enable Legacy support
$legacy-support-for-ie:	    true;

// Disable all of the other browser
$experimental-support-for-mozilla: false;
$experimental-support-for-webkit: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

/* Header Style */
#header {
    @include ie-gradient(0, 0, 0, 0.2);

    // Gradient for unselected navbar
    a {
	/* Background for unsupported browsers */
	background: $link-first-gradient;

	// Gradient for unselected navbar
	// Need to add in support for other browser/fix it up properly
	@include linear-gradient(color-stops($link-first-gradient, $link-last-gradient));
    }
}

/* Footer Style */
#footer {
    @include ie-gradient(0, 0, 0, 0.2);
}

/* General content styling */
#content {
    .about, .resume, .projects, .post {
	@include ie-gradient(204, 204, 204, 0.5);
    }
}

// Gradient for selected or current page navbar
#header a:hover,
.blog #header #blog a,
.gallery #header #gallery a,
.projects #header #projects a,
.resume #header #resume a,
.about #header #about a {
    color:      $nav-link-color;

    /* Background for unsupported browsers */
    background: $link-hover-first-gradient;

    // Gradient for selected/current page navbar
    @include linear-gradient(color-stops($link-hover-last-gradient, $link-hover-first-gradient));
}
