<div class="projects">
    <h1><%= link_to(@item[:title], @item) %></h1>
    <%= yield %>

    <!-- Move this stuff over to some sort of list -->
    <dl>
	<% if @item[:sources] %>
	<dt>Sources</dt>
	<dd><%= link_to(@item[:sources], @item[:sources]) %></dd>
	<% end %>

	<% if @item[:documentation] %>
	<dt>Documentation</dt>
	<dd><%= link_to(@item[:documentation], @item[:documentation]) %></dd>
	<% end %>

	<% if @item[:licenses] %>
	<dt>Licenses</dt>
	<%= listify_licenses(@item[:licenses]) %>
	<% end %>
    </dl>
</div>
