@import "compass/border-radius";
@import "compass/gradient";
@import "settings";

/* Navbar Structure and Styling */
#header {
    /* Structure */
    ul, ul * {
	margin:	    0;
	padding:    0;
    }

    ul {
	list-style:	none;
	line-height:	1.0;

	padding-top:	1.25em;
	margin-right:	12%;
	float:		right;
    }

    li {
	display:    inline;
	float:	    left;
    }

    a {
	float:		    left;
	display:	    block;
	text-decoration:    none;
    }


    /* Styling */
    a {
	padding:	0.75em 1em;
	color:		$nav-link-color;
	font-family:	Verdana, Geneva, sans-serif;
	font-weight:	bold;

	/* Background for unsupported browsers */
	background: $link-first-gradient;

	// Gradient for unselected navbar
	@include linear-gradient(color-stops($link-first-gradient, $link-last-gradient));
    }

    ul li {
	&:first-child a {
	    @include border-top-left-radius($navbar-border-radius);
	}

	&:last-child a {
	    @include border-top-right-radius($navbar-border-radius);
	}
    }
}

// Gradient for selected or current page navbar
#header a:hover,
.blog #header #blog a,
.gallery #header #gallery a,
.projects #header #projects a,
.resume #header #resume a,
.about #header #about a {
    color:	$nav-link-color;

    /* Background for unsupported browsers */
    background: $link-hover-first-gradient;

    // Gradient for selected/current page navbar
    @include linear-gradient(color-stops($link-hover-last-gradient, $link-hover-first-gradient));
}
