// IE specific code goes here
@import "compass/gradient";

// Enable Legacy support
$legacy-support-for-ie:	    true;

// Disable all of the other browser
$experimental-support-for-mozilla: false;
$experimental-support-for-webkit: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

// Copying navbar gradient for now
// Link base color
$link-color:    #fff;

// Navbar Link unselected gradient
$link-first-gradient:   #730021;
$link-last-gradient:    #400012;

// Navbar Link selected/current page gradient
// Flipped because we want bottom to top
$link-hover-first-gradient:     #8c0028;
$link-hover-last-gradient:      #730021;

// IE gradient mixin
@mixin ie-gradient($r, $g, $b, $a) {
    background: none;
    -ms-filter: alpha-ie($r, $g, $b, $a);
    filter: alpha-ie($r, $g, $b, $a);
    zoom: 1;
}

/* Header Style */
#header {
    @include ie-gradient(0, 0, 0, 0.2);

    // Gradient for unselected navbar
    a {
	/* Background for unsupported browsers */
	background: $link-first-gradient;

	// Gradient for unselected navbar
	// Need to add in support for other browser/fix it up properly
	@include linear-gradient(color-stops($link-first-gradient, $link-last-gradient));
    }
}

/* Footer Style */
#footer {
    @include ie-gradient(0, 0, 0, 0.2);
}

/* General content styling */
#content {
    .about, .resume, .projects, .post {
	@include ie-gradient(204, 204, 204, 0.5);
    }
}

// Gradient for selected or current page navbar
#header a:hover,
.blog #header #blog a,
.gallery #header #gallery a,
.projects #header #projects a,
.resume #header #resume a,
.about #header #about a {
    color:      $link-color;

    /* Background for unsupported browsers */
    background: $link-hover-first-gradient;

    // Gradient for selected/current page navbar
    @include linear-gradient(color-stops($link-hover-last-gradient, $link-hover-first-gradient));
}
